In [40]:
import pandas as pd
import requests
from io import StringIO

requisicao = requests.get("https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2025_-_S%C3%A9rie_A")

html_content = StringIO(requisicao.text)
tabelas = pd.read_html(html_content)
tabela_classificacao = tabelas[7]
tabela_jogos = tabelas[8]
display(tabela_classificacao)
display(tabela_jogos)

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras,16,7,5,1,1,8,3,+5,Fase de grupos da Copa Libertadores de 2026
1,2,Red Bull Bragantino,16,7,5,1,1,9,5,+4,Fase de grupos da Copa Libertadores de 2026
2,3,Flamengo,14,7,4,2,1,16,4,+12,Fase de grupos da Copa Libertadores de 2026
3,4,Cruzeiro,13,7,4,1,2,9,7,+2,Fase de grupos da Copa Libertadores de 2026
4,5,Fluminense,13,7,4,1,2,8,7,+1,Segunda fase da Copa Libertadores de 2026
5,6,Bahia,12,7,3,3,1,7,7,0,Segunda fase da Copa Libertadores de 2026
6,7,Ceará,11,7,3,2,2,9,7,+2,Fase de grupos da Copa Sul-Americana de 2026
7,8,Corinthians,10,7,3,1,3,10,12,−2,Fase de grupos da Copa Sul-Americana de 2026
8,9,Internacional,9,7,2,3,2,10,8,+2,Fase de grupos da Copa Sul-Americana de 2026
9,10,Atlético Mineiro,9,7,2,3,2,7,8,−1,Fase de grupos da Copa Sul-Americana de 2026
10,11,São Paulo,9,7,1,6,0,6,5,+1,Fase de grupos da Copa Sul-Americana de 2026
11,12,Botafogo,8,7,2,2,3,6,5,+1,Fase de grupos da Copa Sul-Americana de 2026
12,13,Grêmio,8,7,2,2,3,6,11,−5,NaN
13,14,Vasco da Gama,7,7,2,1,4,6,9,−3,NaN
14,15,Juventude,7,7,2,1,4,7,15,−8,NaN
15,16,Mirassol,7,7,1,4,2,11,10,+1,NaN
16,17,Fortaleza,7,7,1,4,2,5,5,0,Rebaixados à Série B de 2026
17,18,Vitória,6,7,1,3,3,7,10,−3,Rebaixados à Série B de 2026
18,19,Santos,4,7,1,1,5,7,10,−3,Rebaixados à Série B de 2026
19,20,Sport,2,7,0,2,5,4,10,−6,Rebaixados à Série B de 2026

,Mandante \ Visitante,ATM,BAH,BOT,CEA,COR,CRU,FLA,FLU,FOR,...,INT,JUV,MIR,PAL,RBB,SAN,SPA,SPT,VAS,VIT
0,Atlético Mineiro,—,NaN,1–0,NaN,a,a,a,a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0–0,NaN,a,2–2
1,Bahia,NaN,—,1–0,1–0,1–1,NaN,NaN,a,NaN,...,NaN,NaN,1–1,NaN,NaN,NaN,NaN,a,a,a
2,Botafogo,a,a,—,NaN,a,NaN,a,2–0,NaN,...,NaN,2–0,NaN,a,NaN,a,2–2,NaN,a,NaN
3,Ceará,NaN,NaN,NaN,—,NaN,NaN,NaN,NaN,a,...,NaN,NaN,NaN,NaN,NaN,NaN,1–1,NaN,2–1,1–0
4,Corinthians,a,a,a,NaN,—,a,a,0–2,NaN,...,4–2,NaN,NaN,a,NaN,a,a,2–1,3–0,NaN
5,Cruzeiro,a,3–0,NaN,NaN,a,—,2–1,a,NaN,...,NaN,NaN,2–1,a,NaN,NaN,a,NaN,1–0,NaN
6,Flamengo,a,NaN,a,NaN,4–0,NaN,—,a,NaN,...,1–1,6–0,NaN,a,NaN,a,a,NaN,a,NaN
7,Fluminense,a,a,a,NaN,a,a,a,—,NaN,...,a,NaN,NaN,a,2–1,1–0,a,2–1,a,1–1
8,Fortaleza,NaN,NaN,NaN,a,NaN,NaN,NaN,2–0,—,...,0–0,NaN,NaN,1–2,NaN,NaN,NaN,NaN,NaN,NaN
9,Grêmio,2–1,NaN,a,NaN,a,NaN,0–2,a,NaN,...,1–1,a,NaN,a,NaN,1–0,a,NaN,NaN,NaN
10,Internacional,NaN,NaN,NaN,NaN,a,3–0,a,a,NaN,...,—,3–1,NaN,0–1,NaN,NaN,NaN,NaN,a,NaN
11,Juventude,0–1,NaN,NaN,2–1,NaN,NaN,NaN,NaN,NaN,...,a,—,2–2,NaN,NaN,NaN,NaN,NaN,NaN,2–0
12,Mirassol,2–2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1–1,...,NaN,NaN,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Palmeiras,NaN,0–1,0–0,NaN,2–0,a,a,a,NaN,...,NaN,NaN,NaN,—,NaN,a,a,NaN,a,NaN
14,Red Bull Bragantino,NaN,NaN,1–0,2–2,NaN,1–0,NaN,NaN,NaN,...,NaN,NaN,1–0,NaN,—,NaN,NaN,NaN,NaN,NaN
15,Santos,2–0,2–2,a,NaN,a,NaN,a,a,NaN,...,NaN,NaN,NaN,a,1–2,—,a,NaN,a,NaN
16,São Paulo,NaN,NaN,a,NaN,a,1–1,a,a,0–0,...,NaN,NaN,NaN,a,NaN,2–1,—,0–0,a,NaN
17,Sport,NaN,a,NaN,NaN,NaN,NaN,NaN,NaN,0–0,...,NaN,NaN,NaN,1–2,0–1,NaN,NaN,—,NaN,NaN
18,Vasco da Gama,a,a,a,NaN,a,a,0–0,a,NaN,...,a,NaN,NaN,0–1,NaN,2–1,a,3–1,—,NaN
19,Vitória,NaN,a,NaN,NaN,NaN,NaN,1–2,NaN,2–1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,—

In [41]:
nomes_times = list(tabela_jogos["Mandante \\ Visitante"])
apelidos = list(tabela_jogos.columns)
apelidos.pop(0)
print(nomes_times)
print(apelidos)

# Criando um dicionário para armazenar os dados
de_para_times = dict(zip(apelidos, nomes_times))
print(de_para_times)

['Atlético Mineiro', 'Bahia', 'Botafogo', 'Ceará', 'Corinthians', 'Cruzeiro', 'Flamengo', 'Fluminense', 'Fortaleza', 'Grêmio', 'Internacional', 'Juventude', 'Mirassol', 'Palmeiras', 'Red Bull Bragantino', 'Santos', 'São Paulo', 'Sport', 'Vasco da Gama', 'Vitória']
['ATM', 'BAH', 'BOT', 'CEA', 'COR', 'CRU', 'FLA', 'FLU', 'FOR', 'GRE', 'INT', 'JUV', 'MIR', 'PAL', 'RBB', 'SAN', 'SPA', 'SPT', 'VAS', 'VIT']
{'ATM': 'Atlético Mineiro', 'BAH': 'Bahia', 'BOT': 'Botafogo', 'CEA': 'Ceará', 'COR': 'Corinthians', 'CRU': 'Cruzeiro', 'FLA': 'Flamengo', 'FLU': 'Fluminense', 'FOR': 'Fortaleza', 'GRE': 'Grêmio', 'INT': 'Internacional', 'JUV': 'Juventude', 'MIR': 'Mirassol', 'PAL': 'Palmeiras', 'RBB': 'Red Bull Bragantino', 'SAN': 'Santos', 'SPA': 'São Paulo', 'SPT': 'Sport', 'VAS': 'Vasco da Gama', 'VIT': 'Vitória'}

In [42]:

print(de_para_times)
tabela_jogos_ajustaada  = tabela_jogos.set_index("Mandante \\ Visitante")
tabela_jogos_ajustaada= tabela_jogos_ajustaada.unstack().reset_index()
print(tabela_jogos_ajustaada)
tabela_jogos_ajustaada = tabela_jogos_ajustaada.rename(columns={"level_0": "Visitante", "Mandante \\ Visitante": "Mandante", 0: "resultado"})

print(tabela_jogos_ajustaada.columns)

# Ajuste o apelido do time
def ajustar_apelido_time(linha):
    apelido = linha["Visitante"]  
    nome = de_para_times.get(apelido, apelido)
    return nome

tabela_jogos_ajustaada["Visitante"] = tabela_jogos_ajustaada.apply(ajustar_apelido_time, axis=1)
tabela_jogos_ajustaada = tabela_jogos_ajustaada[tabela_jogos_ajustaada["Visitante"] != tabela_jogos_ajustaada["Mandante"]]
# Verifique os resultados   
display(tabela_jogos_ajustaada)

{'ATM': 'Atlético Mineiro', 'BAH': 'Bahia', 'BOT': 'Botafogo', 'CEA': 'Ceará', 'COR': 'Corinthians', 'CRU': 'Cruzeiro', 'FLA': 'Flamengo', 'FLU': 'Fluminense', 'FOR': 'Fortaleza', 'GRE': 'Grêmio', 'INT': 'Internacional', 'JUV': 'Juventude', 'MIR': 'Mirassol', 'PAL': 'Palmeiras', 'RBB': 'Red Bull Bragantino', 'SAN': 'Santos', 'SPA': 'São Paulo', 'SPT': 'Sport', 'VAS': 'Vasco da Gama', 'VIT': 'Vitória'}
    level_0 Mandante \ Visitante    0
0       ATM     Atlético Mineiro    —
1       ATM                Bahia  NaN
2       ATM             Botafogo    a
3       ATM                Ceará  NaN
4       ATM          Corinthians    a
..      ...                  ...  ...
395     VIT               Santos  NaN
396     VIT            São Paulo  NaN
397     VIT                Sport  NaN
398     VIT        Vasco da Gama  NaN
399     VIT              Vitória    —

[400 rows x 3 columns]
Index(['Visitante', 'Mandante', 'resultado'], dtype='object')

            Visitante             Mandante resultado
1    Atlético Mineiro                Bahia       NaN
2    Atlético Mineiro             Botafogo         a
3    Atlético Mineiro                Ceará       NaN
4    Atlético Mineiro          Corinthians         a
5    Atlético Mineiro             Cruzeiro         a
..                ...                  ...       ...
394           Vitória  Red Bull Bragantino       NaN
395           Vitória               Santos       NaN
396           Vitória            São Paulo       NaN
397           Vitória                Sport       NaN
398           Vitória        Vasco da Gama       NaN

[380 rows x 3 columns]

In [43]:
tabela_jogos_ajustaada["resultado"] = tabela_jogos_ajustaada["resultado"].fillna("a jogar")
tabela_jogos_realizados = tabela_jogos_ajustaada[tabela_jogos_ajustaada["resultado"].str.contains("–")]
tabela_jogos_faltantes = tabela_jogos_ajustaada[~tabela_jogos_ajustaada["resultado"].str.contains("–")]
tabela_jogos_faltantes = tabela_jogos_faltantes.drop(columns=["resultado"])

display(tabela_jogos_realizados)

            Visitante          Mandante resultado
9    Atlético Mineiro            Grêmio       2–1
11   Atlético Mineiro         Juventude       0–1
12   Atlético Mineiro          Mirassol       2–2
15   Atlético Mineiro            Santos       2–0
25              Bahia          Cruzeiro       3–0
..                ...               ...       ...
365     Vasco da Gama          Cruzeiro       1–0
380           Vitória  Atlético Mineiro       2–2
383           Vitória             Ceará       1–0
387           Vitória        Fluminense       1–1
391           Vitória         Juventude       2–0

[70 rows x 3 columns]

In [44]:
tabela_jogos_realizados[["gols_casa", "gols_fora"]] = tabela_jogos_realizados["resultado"].str.split("–", expand=True)
tabela_jogos_realizados = tabela_jogos_realizados.drop(columns=["resultado"])
tabela_jogos_realizados["gols_casa"] = tabela_jogos_realizados["gols_casa"].astype(int)
tabela_jogos_realizados["gols_fora"] = tabela_jogos_realizados["gols_fora"].astype(int)
display(tabela_jogos_realizados)

C:\Users\macha\AppData\Local\Temp\ipykernel_5084\1820797082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["gols_casa", "gols_fora"]] = tabela_jogos_realizados["resultado"].str.split("–", expand=True)
C:\Users\macha\AppData\Local\Temp\ipykernel_5084\1820797082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["gols_casa", "gols_fora"]] = tabela_jogos_realizados["resultado"].str.split("–", expand=True)

            Visitante          Mandante  gols_casa  gols_fora
9    Atlético Mineiro            Grêmio          2          1
11   Atlético Mineiro         Juventude          0          1
12   Atlético Mineiro          Mirassol          2          2
15   Atlético Mineiro            Santos          2          0
25              Bahia          Cruzeiro          3          0
..                ...               ...        ...        ...
365     Vasco da Gama          Cruzeiro          1          0
380           Vitória  Atlético Mineiro          2          2
383           Vitória             Ceará          1          0
387           Vitória        Fluminense          1          1
391           Vitória         Juventude          2          0

[70 rows x 4 columns]

In [45]:
media_gols_casa = tabela_jogos_realizados.groupby("Mandante").mean(numeric_only=True)
media_gols_casa = media_gols_casa.rename(columns={"gols_casa": "gols feitos casa", "gols_fora": "gols sofridos casa"})   
media_gols_fora = tabela_jogos_realizados.groupby("Visitante").mean(numeric_only=True)
media_gols_fora = media_gols_fora.rename(columns={"gols_casa": "gols sofridos fora", "gols_fora": "gols feitos fora"})
display(media_gols_fora)

                     gols sofridos fora  gols feitos fora
Visitante
Atlético Mineiro               1.500000          1.000000
Bahia                          1.666667          1.000000
Botafogo                       0.750000          0.000000
Ceará                          1.666667          1.000000
Corinthians                    2.333333          0.333333
Cruzeiro                       1.666667          0.333333
Flamengo                       0.750000          1.250000
Fluminense                     1.333333          0.666667
Fortaleza                      0.750000          0.500000
Grêmio                         2.333333          0.666667
Internacional                  1.500000          1.000000
Juventude                      3.666667          0.333333
Mirassol                       1.500000          1.000000
Palmeiras                      0.500000          1.500000
Red Bull Bragantino            1.000000          1.333333
Santos                         1.500000          0.500000
Sport                          1.750000          0.750000
São Paulo                      1.000000          1.000000
Vasco da Gama                  2.000000          0.333333
Vitória                        1.500000          0.750000

In [46]:
tabela_estatisticas = media_gols_casa.merge(media_gols_fora, left_index=True, right_index=True)
tabela_estatisticas = tabela_estatisticas.reset_index()
tabela_estatisticas = tabela_estatisticas.rename(columns={"Mandante": "time"})
display(tabela_estatisticas)

,time,gols feitos casa,gols sofridos casa,gols sofridos fora,gols feitos fora
0,Atlético Mineiro,1.000000,0.666667,1.500000,1.000000
1,Bahia,1.000000,0.500000,1.666667,1.000000
2,Botafogo,2.000000,0.666667,0.750000,0.000000
3,Ceará,1.500000,0.500000,1.666667,1.000000
4,Corinthians,2.250000,1.250000,2.333333,0.333333
5,Cruzeiro,2.000000,0.500000,1.666667,0.333333
6,Flamengo,3.666667,0.333333,0.750000,1.250000
7,Fluminense,1.500000,0.750000,1.333333,0.666667
8,Fortaleza,1.000000,0.666667,0.750000,0.500000
9,Grêmio,1.000000,1.000000,2.333333,0.666667
10,Internacional,2.000000,0.666667,1.500000,1.000000
11,Juventude,1.500000,1.000000,3.666667,0.333333
12,Mirassol,2.333333,1.333333,1.500000,1.000000
13,Palmeiras,0.666667,0.333333,0.500000,1.500000
14,Red Bull Bragantino,1.250000,0.500000,1.000000,1.333333
15,Santos,1.666667,1.333333,1.500000,0.500000
16,Sport,0.333333,1.000000,1.750000,0.750000
17,São Paulo,0.750000,0.500000,1.000000,1.000000
18,Vasco da Gama,1.250000,0.750000,2.000000,0.333333
19,Vitória,1.333333,1.333333,1.500000,0.750000

In [47]:
from scipy.stats import poisson

# como a partir das medias calcular a probabilidade do time ganhar/perder/empate

def calcular_pontuacao_esperada(linha):
    time_casa = linha["Mandante"]
    time_fora = linha["Visitante"]

    # qual a média de gols que o Cruzeiro, jogando em casa, faz contra o Vasco, jogando fora de casa
    lambda_casa = (tabela_estatisticas.loc[tabela_estatisticas["time"]==time_casa, "gols feitos casa"].iloc[0] 
                * tabela_estatisticas.loc[tabela_estatisticas["time"]==time_fora, "gols sofridos fora"].iloc[0])
    # média de gols cruzeiro dentro de casa * média de gols sofridos pelo vasco fora de casa


    # média de gols que o vasco faz fora de casa * media de gols que o Cruzeiro sofre dentro de casa
    lambda_fora =  (tabela_estatisticas.loc[tabela_estatisticas["time"]==time_fora, "gols feitos fora"].iloc[0] 
                    * tabela_estatisticas.loc[tabela_estatisticas["time"]==time_casa, "gols sofridos casa"].iloc[0])




    pv_casa = 0
    p_empate = 0
    pv_fora = 0

    for gols_casa in range(8):
        for gols_fora in range(8):
            probabilidade_resultado = poisson.pmf(gols_casa, lambda_casa) * poisson.pmf(gols_fora, lambda_fora)
            if gols_casa == gols_fora:
                p_empate += probabilidade_resultado
            elif gols_casa > gols_fora:
                pv_casa += probabilidade_resultado
            elif gols_casa < gols_fora:
                pv_fora += probabilidade_resultado

    # print(pv_casa)
    # print(p_empate)
    # print(pv_fora)

    ve_casa = pv_casa * 3 + p_empate
    ve_fora = pv_fora * 3 + p_empate
    linha["pontos_casa"] = ve_casa
    linha["pontos_fora"] = ve_fora
    return linha

# como a partir da probabilidade você calcula a pontuação que o time vai ter
# ValorEsperado - pontuação do vasco

# Vasco x Cruzeiro

# p_vasco = 50% * 3 + 10% * 1
# p_cruzeiro = 40% * 3 + 10% * 1

# 50% * 3 = 1.8
# 10%
# 40% * 3 = 1.2

In [48]:
tabela_jogos_faltantes = tabela_jogos_faltantes.apply(calcular_pontuacao_esperada, axis=1)
display(tabela_jogos_faltantes)

            Visitante             Mandante  pontos_casa  pontos_fora
1    Atlético Mineiro                Bahia     2.118953     0.623007
2    Atlético Mineiro             Botafogo     2.585644     0.269945
3    Atlético Mineiro                Ceará     2.474406     0.360005
4    Atlético Mineiro          Corinthians     2.385798     0.425762
5    Atlético Mineiro             Cruzeiro     2.662975     0.205719
..                ...                  ...          ...          ...
394           Vitória  Red Bull Bragantino     2.413623     0.390590
395           Vitória               Santos     2.256858     0.562123
396           Vitória            São Paulo     1.975541     0.696719
397           Vitória                Sport     1.063814     1.531735
398           Vitória        Vasco da Gama     2.274232     0.516700

[310 rows x 4 columns]

In [49]:
def ajustar_nome_time(linha):
    for nome in nomes_times:
        if nome in linha["Equipevde"]:
            return nome
    
tabela_classificacao["time"] = tabela_classificacao.apply(ajustar_nome_time, axis=1)
tabela_classificacao_atualizada = tabela_classificacao[["time", "Pts"]]
tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada["Pts"].astype(int)

display(tabela_classificacao_atualizada)

C:\Users\macha\AppData\Local\Temp\ipykernel_5084\2564768963.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada["Pts"].astype(int)

                   time  Pts
0             Palmeiras   16
1   Red Bull Bragantino   16
2              Flamengo   14
3              Cruzeiro   13
4            Fluminense   13
5                 Bahia   12
6                 Ceará   11
7           Corinthians   10
8         Internacional    9
9      Atlético Mineiro    9
10            São Paulo    9
11             Botafogo    8
12               Grêmio    8
13        Vasco da Gama    7
14            Juventude    7
15             Mirassol    7
16            Fortaleza    7
17              Vitória    6
18               Santos    4
19                Sport    2

In [50]:
tabela_pontuacao_casa = tabela_jogos_faltantes.groupby("Mandante").sum(numeric_only=True)[["pontos_casa"]]
tabela_pontuacao_fora = tabela_jogos_faltantes.groupby("Visitante").sum(numeric_only=True)[["pontos_fora"]]
display(tabela_pontuacao_casa)
display(tabela_pontuacao_fora)

                     pontos_casa
Mandante
Atlético Mineiro       32.990360
Bahia                  31.453419
Botafogo               39.539194
Ceará                  35.216841
Corinthians            32.092421
Cruzeiro               36.957188
Flamengo               36.969879
Fluminense             33.903495
Fortaleza              34.132159
Grêmio                 28.126708
Internacional          40.246724
Juventude              31.902586
Mirassol               34.971238
Palmeiras              31.680673
Red Bull Bragantino    34.483071
Santos                 33.577633
Sport                  18.957700
São Paulo              28.873563
Vasco da Gama          33.362199
Vitória                31.343444

                     pontos_fora
Visitante
Atlético Mineiro        8.830493
Bahia                   8.980129
Botafogo                5.182208
Ceará                   9.180152
Corinthians             2.626450
Cruzeiro                4.539933
Flamengo               19.395030
Fluminense              8.972429
Fortaleza              10.182652
Grêmio                  3.985291
Internacional           9.949455
Juventude               1.266297
Mirassol               10.050869
Palmeiras              24.500172
Red Bull Bragantino    16.489110
Santos                  5.457465
Sport                   5.299817
São Paulo              14.910340
Vasco da Gama           3.680371
Vitória                 7.492773

In [51]:
def atualizar_pontuacao_previsao(linha):
    time = linha["time"]
    pontuacao = int(linha["Pts"]) + float(tabela_pontuacao_casa.loc[time, "pontos_casa"]) + float(tabela_pontuacao_fora.loc[time, "pontos_fora"])
    return pontuacao


tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada.apply(atualizar_pontuacao_previsao, axis=1)
tabela_classificacao_atualizada = tabela_classificacao_atualizada.sort_values(by="Pts", ascending=False)
tabela_classificacao_atualizada = tabela_classificacao_atualizada.reset_index(drop=True)
tabela_classificacao_atualizada.index = tabela_classificacao_atualizada.index + 1
display(tabela_classificacao_atualizada)

C:\Users\macha\AppData\Local\Temp\ipykernel_5084\3357124533.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada.apply(atualizar_pontuacao_previsao, axis=1)

                   time        Pts
1             Palmeiras  72.180845
2              Flamengo  70.364909
3   Red Bull Bragantino  66.972181
4         Internacional  59.196179
5            Fluminense  55.875924
6                 Ceará  55.396993
7              Cruzeiro  54.497121
8             São Paulo  52.783903
9              Botafogo  52.721402
10                Bahia  52.433548
11             Mirassol  52.022107
12            Fortaleza  51.314811
13     Atlético Mineiro  50.820853
14              Vitória  44.836217
15          Corinthians  44.718871
16        Vasco da Gama  44.042570
17               Santos  43.035098
18            Juventude  40.168883
19               Grêmio  40.111999
20                Sport  26.257517